.venv
venv
env
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.Python

data
*.sqlite
*.db
*.log

.pytest_cache
.mypy_cache
.ruff_cache
htmlcov
coverage

tests
test_*.py
*-report.html

.env
.env.*
.deployment
appsvc.yaml
README.md
